<div class="sticky sticky-footer">
    <div class="footer-container">
        <span>Michał Gąsior</span>
        <span class="span-spacing">@DateTime.Now.Year</span>
        <span class="span-spacing">Using <a href="https://getbootstrap.com/">Bootstrap</a> styling</span>
        <span class="span-spacing">All rights reserved</span>
    </div>
</div>