<div class="form-centered">
    <div>
        <div class="form-left-align header-bottom-spacing">
            <h4>Put down your cube!</h4>
        </div>

        <div class="form-left-align">
            <p>Sorry for interupting but...</p>
            <p>It seems that the resource you tried to reach does not exist.</p>
            <p>We are sorry that our side does not meet your requirements. We will try to develop it better :)</p>
            <img src="~/Images/AccessDenied.png" />
            <a class="btn btn-dark text-white" href="/Home/Index">Return home</a>
        </div>
    </div>
</div>