<div class="form-centered">
    <div>
        <div class="form-left-align header-bottom-spacing">
            <h4>Your cube just popped out!</h4>
        </div>

        <div class="form-left-align">
            <p>Something is wrong with the algorithm...</p>
            <p>This is unidentified problem. We will try to solve that scramble; in the mean time you can go to home page and continue youd cube journey :)</p>
            <img src="~/Images/AccessDenied.png" />
            <a class="btn btn-dark text-white" href="/Home/Index">Return home</a>
        </div>
    </div>
</div>