<div class="form-centered">
    <div>
        <div class="form-left-align header-bottom-spacing">
            <h4>Oooops!</h4>
        </div>

        <div class="form-left-align">
            <p>It seems that you tried to get, where you shouldn't :)</P>
            <p>You have no permission to access this resource. This is restricted area.</p>
            <img src="~/Images/AccessDenied.png" />
            <a class="btn btn-dark text-white" href="/Home/Index">Return home</a>
        </div>
    </div>
</div>