@model LoginModel

<div class="form-centered">
    <div>
        <div class="form-left-align">
            <h4>Login</h4>
        </div>

        <div asp-validation-summary="All" class="form-left-align text-danger"></div>

        <div class="form-left-align">
            <form asp-action="Login" method="post" class="form-bottom-spacing">
                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                <div class="form-group">
                    <label asp-for="EmailAddress">Email address</label>
                    <input asp-for="EmailAddress" type="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-dark">Sign in</button>
            </form>
            <div class="form-group" style="padding: 10px 0px 0px 0px;">
                <span>Don't have account?</span>
                <span>You can create one <a asp-action="CreateAccount">here</a>.</span>
            </div>
            <div class="form-group">
                <span>Forgot your password?</span>
                <span>Don't worry, you can reset your password <a asp-action="ResetPassword">here</a>.</span>
            </div>
        </div>
    </div>
</div>