.sidebar-wrapper {
    display: block;
    width: 100%;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 0;
    z-index: 999;
    background: #ebebeb;
}

.sidebar-content {
    position: absolute;
    width: 230px;
    margin-left: 10px;
    margin-right: 10px;
    top: 20px;
    bottom: 20px;
    overflow: auto;
}

.page-content {
    /*position: fixed;*/
    left: 250px;
    right: 0px;
}
