<div class="myToast-outer">
    <div class="myToast-inner">
        <div class="toast" data-delay="4000" id="MessageToast">
            <div class="toast-header text-dark" id="MessageToastHeader">
                <strong class="mr-auto" id="MessageToastHeader"><i class="fa fa-grav"></i>Message</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body" id="MessageToastBody">
            </div>
        </div>
    </div>
</div>

<environment names="Development">
    <script src="~/JS/ToastMessage.js" asp-append-version="true"></script>
</environment>
<environment names="Production">
    <script src="~/JS/ToastMessage.min.js" asp-append-version="true"></script>
</environment>