<div id="AddResponseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add response</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body form-group">
                <label>Request message</label>
                <textarea id="NewResponseText" placeholder="Insert response message here" class="form-control" style="height: 200px"></textarea>
                <label id="MessageCharAmount"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" id="ConfirmAddResponse" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>